# Kotlin
*.class
*.log
*.jar
*.war
*.ear
*.iml
bin/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db

# Environment
.env
application-local.yml

# VS Code Extention
*/node_modules/
out/

# Test
test-results/

# Certificates For GigaChat
certs/